.container {
  width: 75%;
  display: grid;
  background-color: white;
  padding: 0.5rem 1rem;
  grid-template-rows: auto; /* key rule */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  align-content: space-between;
  align-items: center;
  color: black;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}
.link {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}
