.card {
  background-color: rgb(38, 37, 39);
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: left;
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1rem;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.image {
  border-radius: 1rem !important;
  cursor: pointer;
}

.fav {
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
}

.favouriteIcon {
  color: red;
  text-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  font-size: xx-large;
}
@media screen and (max-width: 400px) {
  .favouriteIcon {
    font-size: 2rem;
  }

  .imagePlaceHolder,
  .image {
    display: none !important;
  }

  .favButton {
    margin-right: 0 !important;
  }
}

.favButton {
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  border: 2px solid rgb(196, 79, 79, 0.5);
  border-radius: 0.5rem;
}

.imagePlaceHolder {
  border-radius: 1rem !important;
  cursor: pointer;
}
