.main {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: min-content;
  flex-grow: 1;
}
.main h3 {
  text-align: left;
}
.title {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.title button {
  height: 75%;
  width: 75%;
  margin-left: 1rem;
}
.developers {
  width: 100%;
}
.platforms {
  width: 100%;
}
.publishers {
  width: 100%;
}

.description {
  /* height: 10vh; */
  overflow: hidden;
}

.headerImage {
  border-radius: 0.5rem;
}
