.main {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main h3 {
  text-align: left;
}
.bold {
  font-weight: 900;
}
.developers {
  width: 100%;
}
.platforms {
  width: 100%;
}
