.main {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
  flex-grow: 1;
}
.main h3 {
  text-align: left;
}
.bold {
  font-weight: 900;
}
.developers {
  width: 100%;
}
.platforms {
  width: 100%;
}
.publishers {
  width: 100%;
}

.description {
  /* height: 10vh; */
  overflow: hidden;
}
