.main {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: min-content;
  flex-grow: 1;
  width: 25%;
}

.results {
  margin: 0 0 0 0;
  width: 100%;
  text-align: left;
  padding-top: 0rem;
  margin-top: 0rem;
}

.singleResult {
  cursor: pointer;
  background-color: darkgray;
  color: white;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  padding: 0.2rem;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
}
.singleResult p {
  padding-left: 0.5rem;
}

.singleResult:hover {
  background-color: darkslategray;
  transition: all;
  transition-duration: 150ms;
}
